$black: #364B5F;
$light-grey: #E1E8EC;
$grey: #A6B8C1;
$white: white;

$blue: #4FCCF3;
$blue2: #6495F7;
$dark-blue: #0093E9;
$very-light-green: #80D0C7;
$light-green: #8DBE58;
$green: #16A04D;
$orange: #FDAB9A;
$pink: #FF5ACD;
$dark-pink: #841C79;
$light-purple: #A561FB;
$dark-purple: #4A12C2;
$purple: #7E52FC;
$red: #FF2525;
$dark-red: #C12050;
$yellow: #FBDA61;
$dark-yellow: #F8B34B;
