$black: #364B5F;
$light-grey: #E1E8EC;
$grey: #A6B8C1;
$white: white;

$blue: #4FCCF3;
$blue2: #6495F7;
$dark-blue: #0093E9;
$very-light-green: #80D0C7;
$light-green: #8DBE58;
$green: #16A04D;
$orange: #FDAB9A;
$pink: #FF5ACD;
$dark-pink: #841C79;
$light-purple: #A561FB;
$dark-purple: #4A12C2;
$purple: #7E52FC;
$purple-secondary: #A180FF;
$red: #FF2525;
$dark-red: #C12050;
$yellow: #FBDA61;
$dark-yellow: #F8B34B;

.bg-default {
  background: linear-gradient(100deg, $yellow -6.84%, $pink 124.14%);
}

.text-default {
  color: $orange
}

.bg-blue {
  background: linear-gradient(100deg, $dark-blue -6.84%, $very-light-green 124.14%);
}

.text-blue {
  color: $dark-blue;
}

.bg-green {
  background: linear-gradient(100deg, $green -6.84%, $yellow 124.14%);
}

.text-green {
  color: $light-green;
}

.bg-purple {
  background: linear-gradient(100deg, $light-purple -6.84%, $dark-purple 124.14%);
}

.text-purple {
  color: $purple;
}

.bg-purple-blue {
  background: linear-gradient(100deg, $blue -6.84%, $purple 124.14%);
}

.text-purple-blue {
  color: $blue2;
}

.bg-red {
  background: linear-gradient(100deg, desaturate($red, 25%) -6.84%, desaturate($dark-pink, 10%) 124.14%);
}

.text-red {
  color: $dark-red;
}

.bg-yellow {
  background: linear-gradient(100deg, $yellow -6.84%, darken($dark-yellow, 10%) 124.14%);

}

.text-yellow {
  color: $dark-yellow;
}
