@mixin setPauseColor($color) {
  .dt-pause__button {
    border-left: 4px solid $color;
    border-bottom: 4px solid $color;
    color: $color;

    .dt-pause__icon span {
      background-color: $color;
    }

    &:hover {
      background-color: $color;
      color: $white;

      .dt-pause__icon span {
        background-color: $white;
      }
    }

    &:active {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  }

  .dt-pause__title {
    color: $color;
  }
}

.dt-pause {

  @include setPauseColor($orange);

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem .75rem;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 7px;
    background: $white;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 4;
    transition: .3s;

    &.-opened .dt-pause__icon {
      span {
        width: 3px;

        &:first-child {
          margin-right: 0;
          transform: rotateZ(-45deg) translateX(75%);
        }

        &:last-child {
          transform: rotateZ(45deg) translateX(-75%);
        }
      }
    }
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;

    span {
      height: 100%;
      width: 5px;
      transition: .3s;

      &:first-of-type {
        margin-right: .25rem;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    padding: 2rem 2rem 3rem 2rem;
    background-color: rgba($white, .75);
    z-index: 3000;

    .dt-button {
      margin: 1rem 0;
      max-width: 500px;
    }
  }

  &__title {
    margin-bottom: 2rem;
    padding: .5rem 2rem;
    color: $orange;
    text-transform: uppercase;
    font-size: 2rem;
    background: $white;
    border-radius: 2rem;
    box-shadow: inset 2px 4px 10px rgba($black, .2);
  }

  &.-purple {
    @include setPauseColor($purple);
  }

  &.-green {
    @include setPauseColor($light-green);
  }
}
