.dt-home-screen {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem;
  color: $black;

  .dt-h1 {
    margin: 2rem 0;
  }

  .dt-button {
    max-width: 500px;
  }
}

.dt-credit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  padding: 1rem;
  background-color: $white;
  z-index: 1;

  &__content {
    height: 100%;
    width: 100%;
    max-width: 500px;
    text-align: left;
    color: $black;
    padding: 0 1rem 1rem 1rem;
  }

  .dt-button {
    max-width: 500px;
  }

  &__title {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  &__subtitle {
    width: 100%;
    margin: 3rem 0;
    color: $orange;

    &__label {
      display: block;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: $black;
    }
  }

  &__logo {
    height: 100px;
    width: 175px;
    object-fit: contain;

    &__label {
      display: inline-block;
      font-size: 1rem;
      color: $black;
    }
  }

  &__facet {
    display: flex;
    align-items: center;
  }

}
