.dt-home-screen {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem;
  color: $black;

  .dt-h1 {
    margin: 2rem 0;
  }

  .dt-button {
    max-width: 500px;
  }
}
