@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?kmpo24');
  src:  url('../fonts/icon.eot?kmpo24#iefix') format('embedded-opentype'),
  url('../fonts/icon.ttf?kmpo24') format('truetype'),
  url('../fonts/icon.woff?kmpo24') format('woff'),
  url('../fonts/icon.svg?kmpo24#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e903";
}
.icon-code:before {
  content: "\e904";
}
.icon-tools:before {
  content: "\e905";
}
.icon-trophy:before {
  content: "\e906";
}
.icon-groups:before {
  content: "\e907";
}
.icon-hiking:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-north:before {
  content: "\e90a";
}
.icon-person:before {
  content: "\e90b";
}
.icon-play_arrow:before {
  content: "\e90c";
}
.icon-rotate_left:before {
  content: "\e90d";
}
.icon-rotate_right:before {
  content: "\e90e";
}
.icon-arrow_back:before {
  content: "\e900";
}
.icon-skip_next:before {
  content: "\e901";
}
.icon-done:before {
  content: "\e902";
}
