@mixin setTitleColor($text, $bg, $iconText) {
  background: $bg;
  color: $text;

  [class^="icon-"] {
    background: $text;
    color: $iconText;
  }
}

.dt-island {
  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    color: red!important;
  }
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &.-iphone {
    flex-wrap: wrap;
    background: url("../img/lines.png");
    background-size: 100%;
    height: 80%;

    .dt-island__content {
      height: 100px;
      width: 150px;
      justify-content: center;
      padding: 0 1rem;
    }
  }

   svg {
     width: 100vw;
     height: 100vh;
     height: calc(var(--vh, 1vh) * 100);
   }

  &__container {
    height: 100px;
    width: 120px;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5px;

    &.-not-discovered {
      filter: grayscale(100%);

      .dt-island__icon {
        background: linear-gradient(135deg, lighten($grey, 5%), darken($grey, 10%));
      }
    }

    &.-complete {
      filter: sepia(100%);

      .dt-island__icon {
        background: linear-gradient(135deg, lighten($grey, 5%), darken($grey, 10%));
      }

      .dt-island__title {
        @include setTitleColor(darken($grey, 5%), $white, $white);
      }

      &:hover .dt-island__title {
        @include setTitleColor($white, darken($grey, 5%),  darken($grey, 5%));
      }
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem;
    width: 3rem;
    margin-bottom: .5rem;
    padding: .25rem;
    border-radius: 1.5rem;
    background: $black;
    color: $white;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba($black, .5);
    transition: .3s;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    @include setTitleColor($black, $white, $white);
    position: relative;
    margin-bottom: .5rem;
    padding: .25rem .75rem;
    padding-left: 1.8rem;
    color: $black;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    outline: none;
    box-shadow: 0 2px 2px rgba($black, .1), 2px 0 2px rgba($black, .05);
    transition: .3s;

    [class^="icon-"] {
      font-family: 'Open Sans', sans-serif!important;
      position: absolute;
      top: .3rem;
      left: .4rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 1rem;
      width: 1rem;
      margin-right: .4rem;
      background: $black;
      border-radius: .5rem;
      font-weight: bold;
      font-size: .8rem;
      color: $white;
      transition: .3s;

      &:before {
        transform: translateY(1px);
      }
    }

    &.-checked [class^="icon-"] {
      font-family: 'icon' !important;
    }
  }

}

@mixin setIslandStyle($color1, $color2, $middleColor) {
  position: relative;
  cursor: pointer;

  .dt-island {
    &__icon {
      background: linear-gradient(135deg, $color1, $color2);
      box-shadow: 0 4px 8px rgba(darken($color1, 50%), .3);
    }
    &__title {
      @include setTitleColor($middleColor, $white, $white);
      cursor: pointer;
    }
  }

  &:hover {

    .dt-island__icon {
      transform: scale(1.1);
      box-shadow: 0 6px 8px rgba(darken($color1, 50%), .3);
    }

    .dt-island__title {
      @include setTitleColor($white, linear-gradient(135deg, $color1, $color2), $middleColor);
    }
  }

  &:active {
    .dt-island__icon {
      background: linear-gradient(135deg, darken($color1, 10%), darken($color2, 10%));
    }

    .dt-island__title {
      @include setTitleColor($white, linear-gradient(135deg, darken($color1, 10%), darken($color2, 10%)), darken($middleColor, 10%));
    }
  }
}

.dt-robotix {
  @include setIslandStyle(
                  desaturate(lighten($red, 20%), 10%),
                  desaturate(lighten($dark-pink, 10%), 10%),
                  desaturate(lighten($dark-red, 20%), 10%),
  );
}

.dt-logicias {
  @include setIslandStyle(
                  desaturate(lighten($yellow, 5%), 10%),
                  desaturate(lighten($green, 10%), 10%),
                  lighten($light-green, 5%),
  );
}

.dt-nethosa {
  @include setIslandStyle(
                  desaturate(lighten($light-purple, 10%), 10%),
                  desaturate(lighten($dark-purple, 20%), 10%),
                  desaturate($light-purple, 10%),
  );
}

.dt-iaïe {
  @include setIslandStyle(
                  desaturate($blue, 10%),
                  desaturate(lighten($purple, 5%), 10%),
                  desaturate($blue2, 5%),
  );
}

.dt-segura {
  @include setIslandStyle($blue, $very-light-green, $blue);
}

.dt-caramban {
  @include setIslandStyle(
                  desaturate(lighten($yellow, 3%), 0%),
                  desaturate(lighten($dark-yellow, 3%), 0%),
                  lighten($dark-yellow, 3%),
  );
}
