.dt-presentation {
  &-bg {
    background: linear-gradient(#0093E9, #80D0C7);
    color: #fff;

  }

  &-header {
    img {
      justify-self: center;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    margin: 0 1rem;
    text-align: center;
    border-radius: 25px 25px 0 0;
    padding: 16px 16px 32px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: calc(100% - 2rem);
  }
  
  &-inlineblock {
    display: inline-block;
    
    &-right {
      float: right;
    }
  }
}
