* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  touch-action: manipulation;
}

html, body, form, fieldset, table, tr, td, img {
  font-family: 'Open Sans', sans-serif;
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
