.dt-results {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $white;
  z-index: 2;

  &-header {
    background: rgba($light-grey, 30%);
  }

  &--statistics {
    &-container {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
    }
    &-content {
      width: 100%;
      border-right: 1px solid white;
      padding: 0.5rem 1rem;
      text-align: center;
      font-weight: 700;
      font-family: 'open sans', sans-serif;
      font-size: 16px;
      strong {
        font-size: 28px;
      }
    }
  }
}

.dt-trophy {
  &--yellow{
    color: $yellow;
  }
}
