@mixin setResultColor($color) {
  .dt-slider-label {
    color: desaturate(darken($color, 15%), 15%);
  }

  .dt-results-h2 {
    color: desaturate(darken($color, 15%), 15%);
  }

  .slider::-webkit-slider-thumb {
    background: desaturate(darken($color, 15%), 15%);;
  }
}

.dt-results {
  @include setResultColor($orange);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background: $white;
  z-index: 2;

  .dt-textcontainer {
    width: 100%;
  }

  section {
    margin: 3rem auto;
  }

  &-header {
    background: rgba($light-grey, 30%);
    padding-bottom: 1rem;

    nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 0 calc((100vw - 500px) / 2);

      button {
        border: none;
        background: none;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        font-size: 1.25rem;
        transition: .3s;

        &:hover {
          background-color: rgba($black, .1);
        }

        &:active {
          background-color: rgba($black, .2);
        }
      }
    }
  }

  &-article {
    margin: auto;
    max-width: 500px;
  }

  &--statistics {
    &-container {
      margin: 1rem auto;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
    }
    &-content {
      width: 100%;
      border-right: 1px solid white;
      padding: 0.5rem 1rem;
      text-align: center;
      font-weight: 700;
      font-family: 'open sans', sans-serif;
      font-size: 16px;
      strong {
        font-size: 28px;
      }
    }
  }

  &-separator {
    border: none;
    height: 1px;
    margin: 16px auto;
    width: 55%;
    background-color: $light-grey;
  }

  &-titlecontainer {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;

    .dt-results-h4 {
      margin: 0;
    }
  }

  &-h3 {
    font-family: 'arial';
    color: $grey;
    font-weight: 800;
  }

  &-h4 {
    font-family: 'arial';
    font-weight: 800;
    margin-bottom: 16px;
  }

  &-sliderscontainer {
    width: 100%;
    margin: 3rem 0;

    .dt-results-oneslidercontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      width: 100%;
    }

    .dt-slider-label {
      white-space: nowrap;
      font-size: small;
      text-align: center;
      width: 10rem;
      &:first-child {
        margin-right: 1rem;
      }

      &:last-child {
        margin-left: 1rem;
      }
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 4px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 4px;
      height: 8px;
    }

  }

  &-video {
    border-radius: 1rem;
  }

  &.-blue {
    @include setResultColor($blue);
  }

  &.-green {
    @include setResultColor(saturate($light-green, 25%));
  }

  &.-purple {
    @include setResultColor($light-purple);
  }

  &.-purple-blue {
    @include setResultColor(lighten($blue2, 10%));
  }

  &.-red {
    @include setResultColor($red);
  }

  &.-yellow {
    @include setResultColor($yellow);
  }

}

.dt-trophy {
  &--yellow{
    color: $yellow;
  }
}
