.dt-textcontainer {

  display: inline-block;
  border-radius: 15px;
  margin: .5rem 0;

  &--default {
    background: linear-gradient(95.43deg, #FBDA61 -37.4%, #FF5ACD 172.16%);
    color: #FFF;
  }

  &--neutral {
    background: #E1E8EC;
    color: #364B5F;
  }

  &--blue {
    background: linear-gradient(118.32deg, #0093E9 -50.13%, #80D0C7 113.71%);
    color: #FFFFFF;
  }
  &--outlined--blue {
    border: 1px solid $blue;
    border-radius: 15px;
  }

  &--none {
    color: rgba($grey, 1);
    text-align: center;
    font-size: small;
  }
}