.dt-flex {
  &.-col {
    flex-direction: column;
  }

  &.-justify {
    &--start {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: end;
    }

    &--space-between {
      justify-content: space-between;
    }

    &--space-around {
      justify-content: space-around;
    }

    &--space-evenly {
      justify-content: space-evenly;
    }
  }

  &.-align {
    &--start {
      align-items: flex-start;
    }

    &--center {
      align-items: center;
    }

    &--end {
      align-items: end;
    }

    &--baseline {
      align-items: baseline;
    }
  }

}

.dt {
  &-p16 {
    padding: 16px;
  }
}
