.dt-dialog {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $white;
  transition: .3s;

  & .dt-textcontainer {
    width: 100%;
    margin: .5rem 0;
    animation: forwards .3s dialog-zoom;
    transition: .3s;
  }

  & .dt-taptocontinue {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: .7rem;
    animation: 2s clignote infinite;
  }
}

@keyframes dialog-zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes clignote {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
