$square-size: 4rem;

.dt-way-out{

  &__container {
    position: relative;
    height: $square-size * 10;
    width: $square-size * 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(45deg);
    box-shadow: 12px 12px darken($light-grey, 10%), 11px 11px darken($light-grey, 10%), 10px 10px darken($light-grey, 1%),
    9px 9px darken($light-grey, 10%), 8px 8px darken($light-grey, 10%), 7px 7px darken($light-grey, 10%),
    6px 6px darken($light-grey, 10%), 5px 5px darken($light-grey, 10%), 4px 4px darken($light-grey, 10%),
    3px 3px darken($light-grey, 10%), 2px 2px darken($light-grey, 10%), 1px 1px darken($light-grey, 10%);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child .dt-way-out__square {
      border-bottom: 2px solid $white;
    }
  }

  &__square {
    position: relative;
    display: inline-block;
    height: $square-size;
    width: $square-size;
    background-color: $light-grey;
    border-top: 2px solid $white;
    border-left: 2px solid $white;

    &:last-child {
      border-right: 2px solid $white;
    }

    &.-flagged {

      &:after {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        content: "⬤";
        color: rgba($white, .8);
        font-size: 2.5rem;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(95.43deg, lighten($light-green, 10%) -6.84%, lighten($yellow, 10%) 124.14%);
        box-shadow: 3px 3px rgba($black, .25), 2px 2px rgba($black, .5), 1px 1px rgba($black, .75);
        z-index: 1;
      }
    }
  }

  &__pawn {
    position: absolute;
    width: $square-size;
    height: $square-size;
    transition: .5s;
    z-index: 2;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "⬤";
      font-size: 2.5rem;
      color: lighten($light-green, 10%);
      transform: translate(-50%, -50%);
      text-shadow: 3px 3px rgba($black, .25), 2px 2px rgba($black, .25), 1px 1px rgba($black, .75);
      z-index: 1;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '➤';
      font-size: 2rem;
      color: $white;
      transform: translate(-50%, -50%);
      transition: .3s;
      z-index: 2;
    }

    &.-top:before {
      transform: translate(-50%, -50%) rotateZ(-90deg);
    }

    &.-right:before {
      transform: translate(-45%, -45%) rotateZ(0deg);
    }

    &.-bottom:before {
      transform: translate(-55%, -40%) rotateZ(90deg);
    }

    &.-left:before {
      transform: translate(-60%, -45%) rotateZ(180deg);
    }
  }

  &__interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &__instructions {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50vw;
    max-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0 .5rem;
    background-color: rgba(lighten($light-green, 40%), .75);
    transition: .5s;

    &.-reduced {
      max-height: 6rem;
    }

    &__reduced {
      position: absolute;
      top: 0;
      right: 0;
      padding: .25rem .75rem .25rem .5rem;
      border-top: none;
      border-right: none;
      border-left: 2px solid $light-green;
      border-bottom: 2px solid $light-green;
      border-bottom-left-radius: 5px;
      background: none;
      color: $light-green;
      font-size: .8rem;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background: $light-green;
        color: lighten($light-green, 50%)
      }

      &:active {
        background: darken($light-green, 10%);
        color: lighten($light-green, 50%)
      }
    }

    &__container {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;
      padding: 0 2rem;
      padding-left: 50%;

      .dt-button {
        position: relative;
        font-size: 2rem;
        text-align: center;
        margin-left: 1rem;
        width: 5rem;
      }
    }

    &__none {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      margin: 1rem;
      color: $light-green;
      white-space: nowrap;
      width: 100%;
    }

    .dt-button {
      position: relative;
      font-size: 2rem;
      text-align: center;
      margin: 1rem .5rem;
      white-space: nowrap;
      cursor: move;
      height: 4rem;
      width: auto;
      border: 2px solid $white;

      &.-text {
        background: rgba($green, 0.1);
        border: 2px solid transparent;
      }

      &:hover {
        border-color: desaturate($red, 10%);

        .dt-way-out__instructions__delete-button {
          height: 100%;
          width: 100%;
          border-radius: 5px;
          background-color: desaturate($red, 15%);
        }
      }
    }

    &__delete-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1rem;
      background-color: $light-green;
      color: $white;
      border: none;
      border-bottom-left-radius: 5px;
      cursor: pointer!important;
      z-index: 1;
      transition: .3s;

      &:active {
        background-color: darken(desaturate($red, 15%), 10%);
      }
    }
  }

  &__commands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    .dt-button {
      font-size: 2rem;
      text-align: center;
      margin: 0 1rem;
      white-space: nowrap;
    }
  }
}
